.hero {
    background: linear-gradient(45deg, #ffcc33, #ff6666, #9933ff, #33cc33);
    background-size: 400% 400%;
    transition: background-position 0.3s ease-in-out;
}

.hero.hero--first {
    background-position: 50% 0;
}

.hero.hero--second {
    background-position: 0 0;
}

.hero.hero--third {
    background-position: 100% 0;
}